<nav class="navbar" id="main-navbar">
    <div class="navbar-container">
        <a href="{{ path('app_homepage') }}" class="nav-logo"><img src="{{ asset('/images/InstaClone.png') }}" alt="Logo InstaClone"></a>
        <ul class="nav-menu">
            <li class="nav-item active">
                <a href="#">Accueil</a>
            </li>
            <li class="nav-item">
                <a href="#">Posts</a>
            </li>
            <li class="nav-item">
                <a href="#">Catégories</a>
            </li>
            <li class="nav-item">
                <a href="#">Users</a>
            </li>
            <li class="nav-item">
                <a href="#">Contact</a>
            </li>
            <li class="nav-item">
                <a href="#">Recherche</a>
            </li>
        </ul>
    </div>
    
</nav>