<nav>
    <img src="" alt="">
    <ul>
        <li>Home</li>
        <li>Posts</li>
        <li>Categories</li>
        <li>Users</li>
        <li>Messages</li>
        <li>Contact</li>
    </ul>
</nav>